 @tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(221, 222, 224);
}
.layoutno{
  display: flex; justify-content: space-around; flex-wrap: wrap;


  background-color: rgb(241, 240, 253);
} 


.tags{
  color: rgb(153, 23, 5);
} 

 




















