@tailwind base;
@tailwind components;
@tailwind utilities;

.link{
  text-align: center;
}
/* 
.layoutno{
  display: flex; justify-content: center; flex-wrap: wrap;
  background-color: black;
} */











































